{% extends 'map/template.html' %}
{% block title %}My View Title{% endblock %}
{% block content %}
    <div class="w3-container w3-padding-32" id="projects">
        <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Billboard Database</h2>
    </div>
    <div class="w3-container">
    <a href="{% url 'map:create' %}">Add billboard</a>
    {% if smog_list %}
        <ul>
        {% for smog in smog_list %}
            <li><a href="{% url 'map:detail' smog.id %}">{{ smog.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No billboards are available.</p>
    {% endif %}
    </div>
{% endblock %}